// Global Variables

$body-font-family: 'Nunito Sans', sans-serif !default;

$shadow-key-umbra-opacity: rgba(82,63,105,.03);
$shadow-key-penumbra-opacity: rgba(82,63,105,.03);
$shadow-key-ambient-opacity: rgba(82,63,105,.03);

$grid-breakpoints: (
  'xs': 0,
  'sm': 375px, // set mobile screen size to 375px
  'md': 540px,
  'lg': 800px - 24px,
  'xl': 1280px - 24px
);

// Typography configuration
$headings: (
  "h1": (
    "size": 32px,
    "weight": 800,
  ),
  "h2": (
    "size": 24px,
    "weight": 800,
    "line-height": 2.75rem,
  ),
  "h3": (
    "size": 20px,
    "weight": 800,
  ),
  "body-1": (
    "size": 16px,
    "weight": 600,
  ),
  "body-2": (
    "size": 16px,
    "weight": 300,
  ),
  "subtitle-1": (
    "size": 14px,
    "weight": 600,
  ),
  "subtitle-2": (
    "size": 14px,
    "weight": 300,
  ),
  "caption": (
    "size": 14px,
    "weight": 800,
  ),
  "button": (
    "size": 18px,
    "weight": 600,
    "letter-spacing": 0,
    "text-transform": none,
  ),
);