// Global Variables

$body-font-family: 'Nunito Sans', sans-serif !default;

$shadow-key-umbra-opacity: rgba(82,63,105,.05);
$shadow-key-penumbra-opacity: rgba(82,63,105,.05);
$shadow-key-ambient-opacity: rgba(82,63,105,.05);

// Typography configuration
$headings: (
  "h1": (
    "size": 30px,
    "weight": 800,
  ),
  "h2": (
    "size": 24px,
    "weight": 800,
    "line-height": 2.75rem,
  ),
  "h3": (
    "size": 18px,
    "weight": 800,
  ),
  "body-1": (
    "size": 16px,
    "weight": 600,
  ),
  "body-2": (
    "size": 16px,
    "weight": 300,
  ),
  "subtitle-1": (
    "size": 14px,
    "weight": 600,
  ),
  "subtitle-2": (
    "size": 14px,
    "weight": 300,
  ),
  "button": (
    "size": 18px,
    "weight": 600,
    "letter-spacing": 0,
    "text-transform": none,
  ),
);